.App {
  text-align: center;
  display: grid;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  color: #72A0C1;
  font-weight: bold;
}

h2 {
  color: orangered;
}

.Task {
  width: 80%;
  margin: 2rem auto;
  box-sizing: border-box;
  border: 2px #eee;
  box-shadow: 0 1px 2px 3px #ccc;
  border-radius: 5px;
  padding: 1rem;
}

.taskOps {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.taskOps a {
  margin-right: 10px;
  color: #A3C1AD;
}

.taskOps a:hover {
  margin-right: 10px;
  color: #5F9EA0;  
}

.doneB {
  border-radius: 4px;
  cursor: pointer;
}

.deleteB {
  border-radius: 4px;
  cursor: pointer;
}

.addB {
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.textBox {
  border: none;
  border-bottom: 2px solid gray;
  font-family: "Lucida Console", "Courier New", monospace;
}


@media only screen and (min-width: 1024px) {

  .App {
    text-align: center;
    display: grid;
  }
  
  .Task {
    width: 40%;
    margin: 2rem auto;
    box-sizing: border-box;
    border: 2px #eee;
    box-shadow: 0 1px 2px 3px #ccc;
    border-radius: 5px;
    padding: 1rem;
  }
}


