* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background: url('garage.jpg');
	background-attachment: fixed;
}

h1 {
    text-align: center;
    margin: auto;
    color:#5d814c;
    background-color: white;
    width: 500px;
}

h2 {
    text-align: center;
    color: #FFFF;
    margin: 10px auto;
}

button {
    align-content: center;
    display: flex; 
    margin: 10px auto;
    padding: 5px;
    background-color: #5d814c;
}

.textContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 60px;
}

.timerContainer {
    margin-left: 60px;
}

.square {
    width: 200px;
    height: 200px; 
    border-style: solid;
    border-radius: 5px;
    border-color: black;
}

.game {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
    display: flex; 
    margin: 0 auto;
}

.mole {
    background-image: url('pickleRick.png');
    background-size: cover;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
    font-size: 20px;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
  }
   
.closeModalBtn {
    position: fixed;
    top: 0;
    right: 1.5rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  
.finalScore {
    color: #4db61c;
}

.hidden {
    display: none;
}