.categories {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  max-width: 500px;
  background-color: #cc4124;
  padding: 20px;
  justify-content: space-between;
  border-radius: 15px;
}

.bookCategory {
  min-width: 100px;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
  border-color: #cc4124;
  border-radius: 5px;
  background-color: #cc4124;
  color: white;
  font-size: 15px;
  outline: none;
}

.titlePage {
  text-align: center;
  text-decoration: underline;
}
